{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                
            {% endblock %}    
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
        <link rel="stylesheet" href="{% static 'css/content.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        {% block links %}
            
        {% endblock links %}
    </head>

    <body>
        <header>
            <div class="container">

                <div class="logo"> 
                    <img src="{% static 'images/header/logo.svg' %}" alt="logo">
                </div>
                
                <nav class="navigation">
                    <div class="links">
                        <div class="link-page home-link">
                            <img class="link-icon" src="{% static 'images/header/house.svg' %}" alt="">
                            <a href="{% url 'home' %}">Головна</a>
                        </div>
                        
                        <div class="link-page posts-link">
                            <img class="link-icon"src="{% static 'images/header/posts.svg' %}" alt="">
                            <a href="{% url 'post_view' %}">Мої публікації</a>
                        </div>
                        
                        <div class="link-page">
                            <img class="link-icon" src="{% static 'images/header/friends.svg' %}" alt="">
                            <a href="{% url 'friends_view' %}">Друзі</a>
                        </div>
                        
                        <div class="link-page">
                            <img class="link-icon" src="{% static 'images/header/chat.svg' %}" alt="">
                            <a href="">Чати</a>
                        </div>
                        
                        <div class="link-page">
                            <img class="link-icon" src="{% static 'images/header/settings.svg' %}" alt="">
                            <a href="{% url 'settings_view' %}">Налаштування</a>
                        </div>
                    </div>

                
                    <div class="button-leave">
                        <img src="{% static 'images/header/leave.svg' %}" alt="">
                        <p>Вихід</p>
                    </div>
                    
                </nav> 
            </div>
        </header>

        <main>
            <div class="side-menu">
                {% block side-menu %}
                    
                {% endblock %}
            </div>


            <div class = 'content'>
                {% block content %}
                    
                {% endblock %}
            </div>
        </main>


        <script src="{% static 'js/links_page.js' %}"></script>
        <script src = "{% static 'js/lightining_bg.js' %}"></script>
    </body>
</html>
