.friends-main{
    display: flex;
    flex-direction: column;
}
.main-link-text{
    font-size: 1.67vh;
    font-weight: 400;
    color: black;
    text-decoration: none;
}
.request-text{
    font-size: 1.67vh;
    font-weight: 400;
    color: black;
    text-decoration: none;
}
.recomendation-text{
    font-size: 1.67vh;
    font-weight: 400;
    color: black;
    text-decoration: none;
}
.all-friends-text{
    font-size: 1.67vh;
    font-weight: 400;
    color: black;
    text-decoration: none;
}