.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
}



.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu {
    display: none;
}



.hidden{
    display: none;
}


.laptop-image{
    height: 50vh;
    width: 30vw;
}

.laptop-image img{
    height: 100%;
    object-fit: contain;
}