{% extends 'base.html' %}
{% load static %}

{% block header %}
{% endblock header %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_section.css' %}">
{% endblock links %}

{% block title %}
    Авторізация
{% endblock title %}

{% block content %}
    <div class="wrapper">
        <div class="card">
            <div class="form-block">
                <div class="text-container">  
                    <div class="registration"><h2>Реєстрація</h2></div> 
                    <div class = "auth" class="active"><h2>Авторизація</h2></div> 
                    
                    
                </div>
                <p class="welcome">Раді тебе знову бачити!</p>
                <form class='forms-fields' action="{% url 'check_login_view' %}" method="post">
                    {% csrf_token %}
                    
                    {% if form.non_field_errors %}
                        <div class="error-messages">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label_tag }}
                        
                        <div class="password-wrapper">
                            {{ form.password }}
                            <span class="toggle-password" id="togglePassword">
                                <img src="{% static 'images/login/Eye.svg' %}" alt="">
                            </span>
                        </div>
                        
                        {{ form.password.errors }}
                    </div>


                    <button type = "submit" class = 'sender'><p>Увійти</p></button>
                    </div>
            </div>
        </div>
    </div>
        
        
    </form>
    
{% endblock content %}