  {% extends 'base.html' %}
  {% load static %}

  {% block header %}
  <header class="registration-header">
      <h1>WorldIT</h1>
  </header>
  {% endblock %}

  {% block links %}
      <link rel="stylesheet" href="{% static 'css/registration.css' %}">
  {% endblock links %}


  {% block content %}
    <div class="wrapper">
      <div class="card">
        <div class="form-block">
          <h2>Реєстрація</h2>  
          <h3>Приєднуйся до WorldIT</h3>
          
          
          <form action="{% url 'check_registration' %}" method="post">
            {% csrf_token %}

            <div class="form-fields">{{ form.as_p }}</div>
            
            <!--  <div>
              {{ form.non_field_errors }}
              {% for field in form %}
                  {{ field.errors }}
              {% endfor %}
          </div>  -->
            <button type="submit" class="regbutton">Створити акаунт</button>
            {% comment %} <button type="submit">Відправити</button> {% endcomment %}
          </form>
        </div>

      </div>
        <div class="image-block">
          <img src="{% static 'css/img/Container.svg' %}" alt="image" />
        </div>
    </div>
    
  {% endblock %}
