.posts-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.55vw;
}

.content {
    gap: 0.55vw;   
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;  
}

.cont-post {
    background-color: #FFFFFF;
    border: 0.08vw #CDCED2 solid;
    border-radius: 0.694vw; 
    width: 100%;
}

.data-user {
    width: 100%;
    height: 9.27vh;
    border-bottom: 0.08vw #CDCED2 solid;
    display: flex;
    padding: 2.8vh 1.38vw;
    position: relative;
}

.outline-data {
    width: 100%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-avatar {
    display: flex;
    height: 100%;
    /* background-color: orange; */
    gap: 0.69vw;
    align-items: center;
}

.post-avatar img {
    height: 100%;
}

.post-avatar p {
    font-size: 1.45vh;
    font-weight: 500;
}

.settings-post {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    position: relative;
    /* background-color: green; */
}

.settings-post img {
    height: 40.8%;
}

.settings-post img:hover {
    cursor: pointer;
}

.post-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1.67vh 1.38vw;
    gap: 1.67vh;
}

.title-post {
    font-weight: 500;
    font-size: 1.67vh;
}

.content-post {
    font-weight: 400;
    font-size: 1.67vh;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.links-post {
    display: flex;
    flex-direction: column;
}

.link-text {
    font-weight: 400;
    font-size: 1.67vh;
    color: #543C52;
}

.images-post {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.83vh; 
    width: 100%;
    margin-bottom: 1.6vh; 
}

.images-post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.67vh;
    display: block;
}

.images-count-1 img { 
    grid-column: span 12; 
    aspect-ratio: 16 / 9; 
}

.images-count-2 img { 
    grid-column: span 6; 
    aspect-ratio: 1 / 1; 
}

.images-count-3 img:nth-child(1) { 
    grid-column: span 12;
    aspect-ratio: 16 / 9; 
}

.images-count-3 img:nth-child(n+2) { 
    grid-column: span 6; 
    aspect-ratio: 1 / 1; 
}

.images-count-4 img { 
    grid-column: span 6; 
    aspect-ratio: 1 / 1;
}

.images-count-5 img, .images-count-6 img, .images-count-7 img, .images-count-8 img { 
    grid-column: span 4;
    aspect-ratio: 1 / 1; 
}

.images-count-7 img:nth-child(1), .images-count-6 img:nth-child(1) { 
    grid-column: span 7; 
    aspect-ratio: 1.5 / 1; 
}
.images-count-7 img:nth-child(2), .images-count-6 img:nth-child(2) { 
    grid-column: span 5; 
    aspect-ratio: 1.1 / 1; 
}

.images-count-7 img:nth-child(6), .images-count-7 img:nth-child(7) { 
    grid-column: span 6; 
    aspect-ratio: 1.8 / 1; 
}

.info-post {
    height: 2.08vh;
    display: flex;
    justify-content: start;
    align-items: center;
    clear: both; 
    gap: 0.55vw;
}

.block-info img {
    height: 100%;
}

.block-info p {
    font-weight: 400;
    font-size: 1.45vh;
}

.cont-tags {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.tags-outline {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2vw;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.tag-post {
    font-weight: 400;
    font-size: 1.67vh;
    color: #543C52;
}