.chat-window{
    width: 100%;
    height: auto;
}

.messeages{
    width: 100%;
    height: auto;
}

.message{
    width: 100%;
    display: flex;
    justify-content: end;
    /* background-color: green; */
}

.other_user{
    justify-content: start;
}