<div class="section-login section hidden"> 
    <!-- <nav>
        <p id="ButtonRegister">Реєстрація</p>
        <p id="ButtonLogin">Авторизація</p>
    </nav> -->

    <div class = 'toggle'>
        <div class="register-block" id="ButtonRegister">
            <p class="register-text">Реєстрація</p>
        </div>
        <div class="login-block active" id="ButtonLogin">
            <p class = 'login-text'>Авторизація</p>
            <div class="line"></div>
        </div>
    </div>

    <p class="welcom-text">Раді тебе знову бачити!</p>

    <form method="post" class="container-input" action="{% url 'check_login_view' %}">
        {% csrf_token %}
        {{ form_login.as_p }}
    </form>

    <button type="button" class="login-user" onclick="document.querySelector('.container-input').submit(); return false;">Увійти</button>
</div>

