{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock meta %}

{% block title %}
    Публікації
{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'post_app/css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'post_app/css/create_post.css' %}">
{% endblock links %}


{% block side-menu %}
    <div class = 'profile-block'>
        <div class = 'top-data'>
            <div class = 'indicator'>
                <img src="{% static 'post_app/images/avatar.svg' %}" alt="Аватар">
            </div>

            <div class = 'text-data'>
                <p class="username">Lina li</p>
                <p class="nickname">@theli</p>
            </div>
        </div>


        <div class = 'bottom-data'>
            <div class = 'user-data border-style' >
                <p class="number-text">566</p>
                <p class="text">Дописи</p>
            </div>
                
            <div class = 'user-data border-style'>
                <p class="number-text">12.1К</p>
                <p class="text">Читачі</p>
            </div>
            
            <div class = 'user-data'>
                <p class="number-text">222</p>
                <p class="text">Друзі</p>
            </div>
        </div>
    </div>
{% endblock side-menu %}


{% block content %}
    <div class="chat-input">
        <button id="show-form">Перейти до оформлення</button>
    </div>

    
    <form action="{% url 'post_view' %}" method = "POST" id="create-post" class = 'hidden' enctype="multipart/form-data">
        <button id="close-form">x</button>

        {{ form.as_p }}

        <p>Links</p>

        <div id="links-list">
            <input id = "input-link" type="url" name="links" placeholder= "Додайте посилання">
        </div>

        <button type="button" id="add-link">+</button>

        <p>
            <button type="submit">Публікація</button>
        </p>

    </form>
{% endblock content %}

{% block scripts %}
    <script type="module" src="{% static 'post_app/js/createPost.js' %}"></script>
    <script type="module" src="{% static 'post_app/js/clear_form.js' %}"></script>
    <script type="module" src="{% static 'post_app/js/visible_form.js' %}"></script>
{% endblock scripts %}