{% load static %}

<div class="alert-cont">

    <div class="side-block message-cont">

        <div class="block-header">

            <div class="left-part">
                <img src="{% static 'chat_app/images/alert_conteiner/message-icon.svg' %}" alt="message-icon">
                <p>Повідомлення</p>
            </div>
        </div>

        <div class="message-list">

            {% for friend in active_chats %}
                <div class="block-card" data-chat-user="{{ friend.id }}" data-chat-username="{{ friend.userprofile.pseudonym }}" >
                    <div class="avatar-wrapper">
                        <img src="{% static 'chat_app/images/alert_conteiner/example-message.svg' %}" alt="avatar-icon" class="avatar-img">
                        <span class="status-indicator"></span>
                    </div>

                    <div class="text-data">
                        <div class="top-data">
                            <p class="nickname-card">{{ friend.userprofile.pseudonym }}</p>

                            <p class="card-time">09:41</p>
                        </div>

                        <div class="bottom-data">
                            <p>Привіт! Як справи ?</p>
                        </div>
                    </div>

                </div>
            {% endfor %}

            <!-- <div class="block-card active">
                <img src="{% static 'chat_app/images/alert_conteiner/example-message.svg' %}" alt="avatar-icon">

                <div class="text-data">
                    <div class="top-data">
                        <p class="nickname-card">Mona Lisa</p>

                        <p class="card-time">09:41</p>
                    </div>

                    <div class="bottom-data">
                        <p>Привіт! Як справи ?</p>
                    </div>
                </div>

            </div>

            <div class="block-card">
                <img src="{% static 'chat_app/images/alert_conteiner/example-message.svg' %}" alt="avatar-icon">

                <div class="text-data">
                    <div class="top-data">
                        <p class="nickname-card">Mona Lisa</p>

                        <p class="card-time">09:41</p>
                    </div>

                    <div class="bottom-data">
                        <p>Привіт! Як справи ?</p>
                    </div>
                </div>

            </div>
            <div class="block-card">
                <img src="{% static 'chat_app/images/alert_conteiner/example-message.svg' %}" alt="avatar-icon">

                <div class="text-data">
                    <div class="top-data">
                        <p class="nickname-card">Mona Lisa</p>

                        <p class="card-time">09:41</p>
                    </div>

                    <div class="bottom-data">
                        <p>Привіт! Як справи ?</p>
                    </div>
                </div>

            </div> -->

        </div>
    </div>

    <div class="side-block group-cont">

        <div class="block-header">
            <div class="left-part">
                <img src="{% static 'chat_app/images/alert_conteiner/message-icon.svg' %}" alt="message-icon">
                <p>Групові чати</p>
            </div>
        </div>

        <div class="message-list">
            {% for group in group_chat %}
                <div class="block-card" data-chat-id="{{ group.id }}" data-chat-title="{{ group.name }}">
                    <img src="{% static 'chat_app/images/alert_conteiner/group-avatar.svg' %}" alt="avatar-icon">

                    <div class="text-data">
                        <div class="top-data">
                            <p class="nickname-card">{{group.name}}</p>

                            <p class="card-time">09:41</p>
                        </div>

                        <div class="bottom-data">
                            <p>Привіт</p>
                        </div>
                    </div>

                </div>
            {% endfor %}

<!--             
            

            <div class="block-card">
                <img src="{% static 'chat_app/images/alert_conteiner/group-avatar.svg' %}" alt="avatar-icon">

                <div class="text-data">
                    <div class="top-data">
                        <p class="nickname-card">New group</p>

                        <p class="card-time">09:41</p>
                    </div>

                    <div class="bottom-data">
                        <p>Чудово!</p>
                    </div>
                </div>

            </div> -->

        </div>
    </div>
</div>