{% load static %}


<div class="create-chat">
    <img src="{% static 'chat_app/images/side_settings/plus-img.svg' %}" alt="plust-img">
    <p>Створити груповий чат</p>
</div>

<div class="contacts">

    <div class="contact-header">
        <img src="{% static 'chat_app/images/side_settings/people.svg' %}" alt="people">
        <p>Контакти</p>
    </div>

    <input class="search-contact" type="text" placeholder="Пошук">

    <div class="all-contacts">

        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>

        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>
        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>
        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>
        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>
        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>
        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>
        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>
        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>
        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>
        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>
        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>
        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>
        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>
        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>
        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>
        <div class="card-contact">
            <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
            <p>Jane Cooper</p>
        </div>

    </div>
</div>