{% load static %}


<div class="create-chat">
    <img src="{% static 'chat_app/images/side_settings/plus-img.svg' %}" alt="plust-img">
    <p>Створити груповий чат</p>
</div>

<div class="contacts">

    <div class="contact-header">
        <img src="{% static 'chat_app/images/side_settings/people.svg' %}" alt="people">
        <p>Контакти</p>
    </div>
    <div class="search-box">
        <img src="{% static 'chat_app/images/alert_conteiner/search-icon.svg' %}" alt="search" class = 'search-icon'>
        <input class="search-contact" type="text" placeholder="Пошук">
    </div>
    

    <div class="all-contacts">
        {% for friend in users_list %}
            <div class="card-contact">
                <img src="{% static 'chat_app/images/side_settings/example-avatar.svg' %}" alt="people">
                <p>{{ friend.username }}</p>
            </div>
        {% endfor %}

        
    </div>
</div>