.block{
    width: 100%;
    height: 45px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #CDCED2;
    padding: 16px;
}

.left-part{
    display: flex;
    gap: 8px;
    height: 100%;
    align-items: center;
}

.left-part p{
    font-weight: 500;
    font-size: 20px;
    color: #81818D;
}

.right-part{
    height: 100%;
    display: flex;
    align-items: center;
}

.right-part p{
    font-weight: 500;
    font-size: 1rem;
    color: #543C52;
}

/* .left-part img{
    height: 13.75511646270752px;
    width: 19.694780349731445px;
}

.right-part img{
    height: 13.75511646270752px;
    width: 19.694780349731445px;
} */