main {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 0 5.6vw;
    max-width: 1440px;
    /* background-color: green; */
    position: relative;
}

.side-menu {
    width: 24.3vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1.7vh 0;
    /* background-color: blue; */
    min-width: 24.3vw;
    gap: 0.8vh;
}

.content {
    flex: 1;
    /* background-color: pink; */
    height: 100%;
}