main {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0 auto;
    padding: 0 5.55vw; 
    flex-direction: row;
    gap: 0.4vw;
    position: relative;
}

.side-menu {
    width: 24.36vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1.67vh 0;
    gap: 0.84vh;
}

.content {
    flex: 1;
    height: 100%;
    padding: 1.67vh 0;
}