main {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100vw;
    /* max-width: 90rem; */
    margin: 0 auto;
    padding: 0 5.55vw; 
    /* background-color: green; */
    position: relative;
}

.side-menu {
    width: 24.36vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1.67vh 0;
    /* max-width: 21.93rem; */
    /* background-color: blue; */
    /* min-width: 350.80px; */
    gap: 0.84vh;
}

.content {
    flex: 1;
    /* background-color: pink; */
    height: 100%;
    padding: 1.67vh 0;
}